/*////////// STYLE HEADER //////////*/
body{
    overflow-x: hidden;
}
.headerContainer{
    height: 2%;
    padding: 1%;
    font-family: "bahnschrift";
    font-stretch: condensed;
    font-weight: 100 ;
    font-size: 1em;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.headerItems{
    
}
/* Logo element */
.logoContainer{
    position:absolute;
    top: 2%;
    left: 2%;
    width: 20%;
}



/* NavMenu element */
.navMenuContainer{
    margin-left: 40%;
    margin-right: 2%;
    padding-top: 2.5%;
    width: 400px;
    height: 10%;
    order: 2;
    resize: none;
    min-width: 318px;
}

.navElements{
    text-decoration: none;
    color: black;
    font-size: 2.1em ;
    padding-bottom: 2px;
    border-bottom: 4px solid #293947;
    transition: all 0.3s cubic-bezier( 0.94, 0.38, .48, 1.2 );
    clip-path: polygon(-100% -20%, 200% -20%, 200% 100%, 20% 100%,20% 85%, 15% 85%, 15% 100%, -100% 100%, -100% -20%);
}

.navElements:hover{
    /* animation: underlineSlide 0.3s cubic-bezier( 0.94, 0.38, .48, 1.2 )   forwards; */
    clip-path: polygon(-100% -20%, 200% -20%, 200% 100%, 80% 100%,80% 85%, 75% 85%, 75% 100%, -100% 100%, -100% -20%);

}

.navElements:nth-child(2){
    text-align: left;
    margin-left: 6%;
}


/* Time element */
.timeContainer{
    order:1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.timeItem{
    text-align: right;
}

#timeClock{
    font-size: 4.4em; 
    align-self: flex-start;
}

#timeLocation{
    font-size: 2.11em;
    text-align: center;
}

#timeLanguage{
    padding-top: 5%;
    position: relative;

}

.languageItem{
    cursor: pointer;
}

#selectedLanguageBackground{
    position: absolute;
    
    height: 70%;
    transition: all .3s cubic-bezier(.17,.67,.55,1.95);
    background-color: #FACBCC;
    z-index: -1;
}

#en:hover ~ div.frSelected {
    top: 30%;
    left:41%;
    width: 60%;
}

#fr:hover ~ div.enSelected {
    top: 30%;
    left:-2%;
    width: 55%;
}


.frSelected{
    top: 30%;
    left:53%;
    width: 48%;
}

.enSelected{
    top: 30%;
    left:-2%;
    width: 43%;
}

@keyframes widthAnimation{
    from{

    }
    to{

    }
}

/*////////// GENERAL HIGHLIGHT STYLES //////////*/
.highlightYellow{
    background-color: #EDBD21;
    color: black;
}

.highlightPink{
    background-color: #FACBCC;
    color: black;
}

.highlightBlue{
    background-color: #33688C;
}

.highlightGrey{
    background-color: #CCCCCC;
    color: black;
}

/*////////// HOME CONTENT //////////*/
#contentContainer{
    font-family: "bahnschrift";
    color: black;
    font-size: 1em;
}

/*Main skills element*/
.mainSkills{
    font-stretch: condensed;
    margin-top: 3.5%;
}

#skillList{
    list-style-type: none;
    display:inline-block;
}

.skillsListElement{
    width: auto;
    
}

#skillList > li:nth-child(2){
    margin-top: 5%;
}

.skillsListElement:hover >a.skillLink> .boxHoverBehind{
    width: 105%;
}

.skillLink{
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 2em;
    font-weight: 350 ;
}

.boxHoverBehind{
    width: 0%;
    height: 105%;
    z-index: -1;
    position: absolute;
    top: -8%;
    left: -2.5%;
    transition: width .2s ease-in;
}

#skillProgrammer>a.skillLink>.boxHoverBehind{
    background-color: #EDBD21;
}

#skillDesigner>a.skillLink>.boxHoverBehind{
    background-color:#FACBCC;
}

/*Resume element*/
#homeResumeContainer{
    background-color: #33495E;
    position: relative;
    color: white;
    margin-top: 7%;
    padding:1em;
    padding-left: 3.5em;
    margin-bottom: 5%;
}

#resumeContainer{
    font-size: 1.7em;
    font-weight: lighter;
    width: 75%;
}

#borderResume{
    position: absolute;
    background-color: white;
    width: 75%;
    height: 8px;
    top:0;
}

.resumeElement{
    margin-left: .5em;
}

#resumeP1{
    width: 69%;
}

#resumeP2{
    width: 90%;
}


/*////////// PROJECTS LIST PAGE //////////*/
.listContainer{
    margin-left: 5%;
    margin-top: 2%;
    width: 100%;
    font-size: 1.15em;
    font-stretch: condensed;

}

.listTitleContainer{
    width: 40%;
    border-bottom: 4px solid #293947;
    padding-left: 1%;
    font-size: 2em;
}

.listField{
    position: relative;
    margin-left: 5%;
    margin-top: 2%;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
}

.listFieldTitle{
    font-size: 1.8em;
}

.listTitle>a{
    text-decoration: none;
    color: rgb(58, 58, 58);
    opacity: 0.4;
    cursor: pointer;
}

.listTitle>.activeListTitle{
    color: black;
    opacity: 1;
}

.listTitle>.inactiveListTitle{
    transition: opacity 0.3s ease-out;
}

.listTitle>.inactiveListTitle:hover{
    opacity: .8;
}

.listItemTitle>.boxHoverBehind{
    background-color: #EDBD21;
    left:-5px;
}

.listItemTitle:hover>.boxHoverBehind{
    width: 105%;
    
}

.listItemTitle:hover>.listItemBall{
    background-color: #33495E;
}

.listItem{
    margin-left: 5%;
    margin-top: 40px;
    transform-origin: top left;
}

.listField>.listItem:nth-of-type(1){
    margin-top: 25px;
}

.listItemTitle{
    font-size: 1.7em;
    position: relative;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.listItemTitle>p{
    margin: 0;
    color: #777777;
}

.listItemBall{
    position: absolute;
    left: -40px;
    top: 35%;

    background-color: #EDBD21;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.listItemSoftware{
    position: absolute;
    left: 105%;
    top: 25%;
    font-size: .6em;
    font-weight: 400;
}

.listItemDate{
    position: absolute;
    left: 0;
    top:100%;
    width: 6em;
    font-size: .8em;
    color: #4D4D4D;
}

.listSeparator{
    position: absolute;
    left:-11%;
    top: 102%;
    height: 2px;
    width: 99vw;
    background-color:#33495E ;
}
.listField:last-child>.listSeparator{
    display: none;
}


/*////////// PROJECT PROFILE PAGE //////////*/
.projectContentContainer{
    margin-left: 5%;
    margin-top: 2%;
}

.projectContentContainer>div{
    margin-top: 2%;
}

/*TITLE*/
.projectTitleContainer{
    position: relative;
    border-bottom: 4px solid #293947;
    padding-left: 3.5%;
    font-size: 2em;
    width: 50%
}

.backToList{
    position: absolute;
    top: 25%;
    left: -1.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 6%;
    cursor: pointer;
    transition: all .2s ease-in;
}

.backToList:hover{
    width: 7%;
    left: -2.5%;
}

.backToList:hover>.ballBack:nth-child(1){
    transform: scale(1.5);
}
.backToList:hover>.ballBack:nth-child(2){
    transform: scale(1.25);
}

.ballBack{
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #EDBD21;
    transition: all .2s cubic-bezier(.5,0,.32,1.72);
}

.ballBackPassive>.ballBack{
    animation: passiveBallBack 5s infinite cubic-bezier(.5,0,.32,1.72);
}
.ballBackPassive>.ballBack:nth-child(3){
    animation-delay: 0s;
}
.ballBackPassive>.ballBack:nth-child(2){
    animation-delay: .3s;
}
.ballBackPassive>.ballBack:nth-child(1){
    animation-delay: .6s;
}

@keyframes passiveBallBack{
    from{
        transform: scale(1);
    }
    10%{
        transform: scale(1.5);
    }
    20%{
        transform: scale(1);

    }
    to{
        transform: scale(1);
    }
}



/*INFOS*/
.projectInfosContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    min-width: 400px;
}

.projectInfoTitle{
    color: black;
}

.projectInfo{
    color: #5f5f5f;
}

.projectCollabInfos{
    background-color: #D9DBDE;
    padding: 5px;
}

.projectCollabInfos>p{
    margin: 0;
}

/*PREVIEW*/
.projectPreviewsContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    max-width: 80%;
}

.projectPreviewsContainer>img{
    margin-right: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 300px;
    flex: 1;
}

/*TEXT*/
.projectTextContainer{
    position: relative;
}

.projectTextSeparator{
    position: absolute;
    left: 0;
    height: 3px;
    width: 40%;
    background-color: #33495E;
    margin-left: -5.5%;
}

#projectTextContentContainer{
    padding-top: 1%;
    font-size: 1.25em;
    font-weight: 100;
    max-width: 80%;
    text-align: justify;
}

/* VIDEO */
.projectVideoContainer{
    margin-top: 4% !important;
    margin-bottom: 4% ;
    width: 35%;
    min-width: 500px;
}
.projectVideoPlayer{
    width: 100%;
}






/*////////// FOOTER //////////*/
.footerContainer{
    position: relative;
    margin-top: 2.5%;
}

.pacmanContainer{
    z-index: 2;
}

.pacmanContainer>img{
    z-index: 2;
    position: absolute;
    width: 50px;
    top: -20px;
    left: 10px;
    clip-path: polygon(0 0, 100% 0, 100% 15%, 52% 52%, 100% 85%, 100% 100%, 0 100%, 0 0);
    animation: pacmanMoveAnim 25s infinite linear, pacmanEatAnim 0.15s infinite alternate ease-in-out 2s;;
}

@keyframes pacmanEatAnim{
    from{
        z-index: 2;
        clip-path: polygon(0 0, 100% 0, 100% 15%, 52% 52%, 100% 85%, 100% 100%, 0 100%, 0 0);
    }
    to{
        z-index: 2;
        clip-path: polygon(0 0, 100% 0, 100% 52%, 52% 52%, 100% 52%, 100% 100%, 0 100%, 0 0);
    }
}

@keyframes pacmanMoveAnim{
    from{
        left:10px;
        transform: rotate(0deg);
    }
    12.5%{
        /*WAIT*/
        left:10px;
        transform: rotate(0deg);
    }
    42.5%{ 
        /* EAT */
        left: 96.5%;
        transform: rotate(0deg);
    }
    50%{
        /* WAIT */
        left: 96.5%;
        transform: rotate(0deg);
    }
    55%{
        transform: rotate(180deg);
    }
    62.5%{
        /* WAIT */
        left: 96.5%;
        transform: rotate(180deg);
    }
    92.5%{
        /* EAT */
        left: 10px;
        transform: rotate(180deg);
    }
    to{
        /* WAIT */
        left: 10px;
        transform: rotate(0deg);
    }
}

.pacmanBallsContainer{
    z-index: 1;
    display: flex;
    padding-left: 1.5em;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    /* animation: vanishBalls 15s infinite cubic-bezier(.54,.59,.86,.77); */
    animation: vanishBalls 25s infinite cubic-bezier(.41,.47,.8,.72);
}

@keyframes vanishBalls{
    from{
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%, 0 0);
    }
    5%{
        /* DISTRIBUTE */
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
    12.5%{
        /*WAIT*/
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
    42.5%{ 
        /* EAT */
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%, 100% 0);
    }
    50%{
        /* WAIT */
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%, 100% 0);
    }
    55%{
        /* DISTRIBUTE */
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
    62.5%{
        /* WAIT */
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
    92.5%{
        /* EAT */
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%, 0 0);
    }
    to{
        /* WAIT */
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%, 0 0);
    }

    
}

.pacmanBallsContainer>img{
    flex-direction: row;
    width: 14px;
    margin-left: 14px;
}

.ballHere{
    display: block;
}

.ballVanish{
    display: none;
}