/*////////// STYLE HEADER //////////*/
.headerContainer{
    height: 2%;
    padding: 1%;
    font-family: "bahnschrift";
    font-stretch: condensed;
    font-weight: 100 ;
    font-size: 1em;
    display: flex;
    flex-direction: row-reverse;
}

.headerItems{
    
}
/* Logo element */
.logoContainer{
    position:absolute;
    top: 2%;
    left: 2%;
    width: 20%;
}



/* NavMenu element */
.navMenuContainer{
    margin-left: 40%;
    margin-right: 2%;
    padding-top: 2.5%;
    width: 400px;
    height: 10%;
    order: 2;
    resize: none;
    min-width: 318px;
}

.navElements{
    text-decoration: none;
    color: black;
    font-size: 2.1em ;
    padding-bottom: 2px;
    border-bottom: 4px solid #293947;
    transition: all 0.3s cubic-bezier( 0.94, 0.38, .48, 1.2 );
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%,20% 85%, 15% 85%, 15% 100%, 0 100%, 0 0);
}

.navElements:hover{
    /* animation: underlineSlide 0.3s cubic-bezier( 0.94, 0.38, .48, 1.2 )   forwards; */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 100%,80% 85%, 75% 85%, 75% 100%, 0 100%, 0 0);

}

.navElements:nth-child(2){
    text-align: left;
    margin-left: 6%;
}

/* @keyframes underlineSlide{
    0%{clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%,20% 85%, 15% 85%, 15% 100%, 0 100%, 0 0);}
    100%{clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 100%,80% 85%, 75% 85%, 75% 100%, 0 100%, 0 0);}
} */
/* Time element */
.timeContainer{
    order:1
}

.timeItem{
    text-align: right;
}

#timeClock{
     font-size: 5em; 
}

#timeLocation{
    font-size: 2.11em;
    text-align: center;
}

#timeLanguage{
    padding-top: 5%;
}
/*////////// GENERAL HIGHLIGHT STYLES //////////*/
.highlightYellow{
    background-color: #EDBD21;
    color: black;
}

.highlightPink{
    background-color: #FACBCC;
    color: black;
}

.highlightBlue{
    background-color: #33688C;
}

.highlightGrey{
    background-color: #CCCCCC;
    color: black;
}

/*////////// HOME CONTENT //////////*/
#contentHomeContainer{
    font-family: "bahnschrift";
    color: black;
    font-size: 1em;
}

/*Main skills element*/
.mainSkills{
    font-stretch: condensed;
    margin-top: 3.5%;
}

#skillList{
    list-style-type: none;
}

#skillList > li:nth-child(2){
    margin-top: 1%;
}

.skillLink{
    text-decoration: none;
    color: black;
    font-size: 2em;
    font-weight: 350 ;
}

/*Resume element*/
#homeResumeContainer{
    background-color: #33495E;
    position: relative;
    color: white;
    margin-top: 8%;
    padding:1em;
    padding-left: 3.5em;
}

#resumeContainer{
    
    font-size: 1.7em;
    font-weight: lighter;
    width: 75%;
}

#borderResume{
    position: absolute;
    background-color: white;
    width: 75%;
    height: 8px;
    top:0;
}

.resumeElement{
    margin-left: .5em;

}

#resumeP1{
    width: 69%;
}
#resumeP2{
    width: 90%;
}




/*////////// FOOTER //////////*/
.footerContainer{
    position: relative;
    margin-top: 5%;
}

.pacmanContainer{
    overflow: hidden;
    z-index: 2;
}

.pacmanContainer>img{
    z-index: 2;
    position: absolute;
    width: 50px;
    top: -20px;
    left: 10px;
    clip-path: polygon(0 0, 100% 0, 100% 15%, 52% 52%, 100% 85%, 100% 100%, 0 100%, 0 0);
    animation: pacmanMoveAnim 15s infinite linear, pacmanEatAnim 0.15s infinite alternate ease-in-out;
}

@keyframes pacmanEatAnim{
    from{
        z-index: 2;
        clip-path: polygon(0 0, 100% 0, 100% 15%, 52% 52%, 100% 85%, 100% 100%, 0 100%, 0 0);
    }
    to{
        z-index: 2;
        clip-path: polygon(0 0, 100% 0, 100% 52%, 52% 52%, 100% 52%, 100% 100%, 0 100%, 0 0);
    }
}

@keyframes pacmanMoveAnim{
    from{
        left:10px;
    }
    to{
        left: 96.5%;
    }
}

@-webkit-keyframes pacmanMoveAnim{
    from{
        left:10px;
    }
    to{
        left: 96.5%;
    }
}

.pacmanBallsContainer{
    z-index: 1;
    display: flex;
    padding-left: 3em;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    animation: vanishBalls 15s infinite linear;
}

@keyframes vanishBalls{
    from{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
    to{
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%, 100% 0);
    }
}

.pacmanBallsContainer>img{
    flex-direction: row;
    width: 14px;
    margin-left: 14px;
}

.ballHere{
    display: block;
}

.ballVanish{
    display: none;
}